<?xml version="1.0" encoding="utf-8"?>
<theme>
<name>EMS Admin Panel</name>
<version>1.0</version>
<creationDate>11th Sep 2017</creationDate>
<author>Spero</author>
<authorEmail>admin@speroinfosystems.com</authorEmail>
<authorUrl>http://www.speroinfosystems.com</authorUrl>
<copyright>speroinfosystems</copyright>
<license>Proparitor</license>
<description>EMS Admin Panel</description>
<templates>
	<template>
		<type>default</type>
		<name>default</name>
		<file>index.php</file>
		<positions>
			<position>styles</position>
			<position>javascripts</position>
			<position>header</position>
			<position>profile</position>
			<position>leftsidebar</position>
			<position>message</position>
             <position>caller_details</position>
			<position>content</position>
			<position>rightsidebar</position>
			<position>add_group</position>
			<position>user_screen_lock_view</position>
			<position>user_dialer_view</position>
			<position>footer</position>
			<position>popup_content_div</position> 
			<position>filter_data</position>
			<position>amb_loc_map</position>
		</positions>
	</template>
<template>
		<type>emt</type>
		<name>emt</name>
		<file>emt.php</file>
		<positions>
			<position>styles</position>
			<position>javascripts</position>
			 <position>header</position>
			<position>pcr_top_steps</position>
			<position>pcr_progressbar</position>
			<position>profile</position>
			<position>leftsidebar</position>
			<position>message</position>
           
			<position>content</position>
			<position>rightsidebar</position>
			<position>add_group</position>
			<position>user_screen_lock_view</position>
			<position>user_dialer_view</position>
			<position>footer</position>
			<position>popup_content_div</position> 
			<position>filter_data</position>
			<position>amb_loc_map</position>
		</positions>
	</template>
	<template>
		<type>normal</type>
		<name>blank</name>
		<file>blank.php</file>
		<positions>
			<position>content</position>
		</positions>
	</template>
	<template>
		<type>normal</type>
		<name>cell</name>
		<file>cell.php</file>
		<positions>
			<position>styles</position>
			<position>javascriptscell</position>
			<position>content</position>
		</positions>
	</template>
	<template>
		<type>normal</type>
		<name>pcr</name>
		<file>pcr.php</file>
		<positions>
			<position>styles</position>
			<position>javascripts</position>
			<position>header_pcr</position>
			<position>pcr_top_steps</position>
			<position>pcr_progressbar</position>
			<position>profile</position>
			<position>leftsidebar</position>
			<position>message</position>
			<position>caller_details</position>
			<position>content</position>
			<position>rightsidebar</position>
			<position>add_group</position>
			<position>user_screen_lock_view</position>
			<position>user_dialer_view</position>
			<position>footer</position>
			<position>popup_content_div</position> 
			<position>filter_data</position>
		</positions>
	</template>
         <template>
		<type>normal</type>
		<name>calls_remote</name>
		<file>calls_remote.php</file>
		<positions>
			<position>styles</position>
			<position>javascripts</position>
			<position>header</position>
			<position>pcr_top_steps</position>
			<position>pcr_progressbar</position>
			<position>profile</position>
			<position>leftsidebar</position>
			<position>message</position>
			<position>caller_details</position>
			<position>content</position>
			<position>rightsidebar</position>
			<position>add_group</position>
			<position>user_screen_lock_view</position>
			<position>user_dialer_view</position>
			<position>footer</position>
			<position>popup_content_div</position> 
			<position>filter_data</position>
		</positions>
	</template>
	<template>
		<type>normal</type>
		<name>calls</name>
		<file>calls.php</file>
		<positions>
			<position>styles</position>
			<position>javascripts</position>
			<position>mp_header</position>
			<position>pcr_top_steps</position>
			<position>pcr_progressbar</position>
			<position>profile</position>
			<position>leftsidebar</position>
			<position>message</position>
			<position>caller_details</position>
			<position>content</position>
			<position>rightsidebar</position>
			<position>add_group</position>
			<position>user_screen_lock_view</position>
			<position>user_dialer_view</position>
			<position>mp_footer</position>
			<position>popup_content_div</position> 
			<position>filter_data</position>
		</positions>
	</template>
	<template>
		<type>normal</type>
		<name>amb_loc_map</name>
		<file>amb_loc_map.php</file>
		<positions>
			<position>styles</position>
			<position>javascripts</position>
			<position>content</position>
			<position>message</position>
		</positions>
	</template>
    <template>
		<type>normal</type>
		<name>amb_loc_map_for_dashboard</name>
		<file>amb_loc_map_for_dashboard.php</file>
		<positions>
			<position>styles</position>
			<position>javascripts</position>
			<position>content</position>
			<position>message</position>
		</positions>
	</template>
	<template>
		<type>normal</type>
		<name>calls_nhm</name>
		<file>calls_nhm.php</file>
		<positions>
			<position>styles</position>
			<position>javascripts</position>
			<position>header_nhm</position>
			<position>pcr_top_steps</position>
			<position>pcr_progressbar</position>
			<position>profile</position>
			<position>leftsidebar</position>
			<position>message</position>
			<position>caller_details</position>
			<position>content</position>
			<position>rightsidebar</position>
			<position>add_group</position>
			<position>user_screen_lock_view</position>
			<position>user_dialer_view</position>
			<position>footer_nhm</position>
			<position>footer_mems</position>
			<position>popup_content_div</position> 
			<position>filter_data</position>
		</positions>
	</template>

<template>
		<type>normal</type>
		<name>maha_marg</name>
		<file>maha_call.php</file>
		<positions>
			<position>styles</position>
			<position>javascripts</position>
			<position>header_mahamarg</position>
			<position>pcr_top_steps</position>
			<position>pcr_progressbar</position>
			<position>profile</position>
			<position>leftsidebar</position>
			<position>message</position>
			<position>caller_details</position>
			<position>content</position>
			<position>rightsidebar</position>
			<position>add_group</position>
			<position>user_screen_lock_view</position>
			<position>user_dialer_view</position>
			
			<position>popup_content_div</position> 
			<position>filter_data</position>
		</positions>
	</template>


	<template>
		<type>normal</type>
		<name>mb_view</name>
		<file>mb_view.php</file>
		<positions>
			<position>styles</position>
			<position>javascripts</position>
			<position>header_nhm</position>
			<position>pcr_top_steps</position>
			<position>pcr_progressbar</position>
		
			<position>caller_details</position>
			<position>content</position>
		
			<position>user_screen_lock_view</position>
			<position>footer_nhm</position>
			<position>footer_mems</position>
			<position>popup_content_div</position> 
			<position>filter_data</position>
		</positions>
	</template>

	<template>
		<type>normal</type>
		<name>erc_blank</name>
		<file>erc_blank.php</file>
		<positions>
			<position>erc_head</position>
			<position>content</position>
			<position>erc_footer</position>
		</positions>
	</template>
</templates>
</theme>
